[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    listdead = "!sh -c \"git branch -vv | grep ': gone]' | awk '{print \\$1}'\""
    prunedead = "!sh -c \"git branch -vv | grep ': gone]' | awk '{print \\$1}' | xargs git branch -D\""
    uncommit = reset --mixed HEAD~
    unstage = reset  -q HEAD --
    discard = checkout  --
    unstash = stash pop
    tree = log --all --graph --decorate --oneline
    undo = reset --soft HEAD~
    rebase-onto = "~f() { git rebase --onto main $(git merge-base \"$1\" \"$2\") \"$1\"; }; f"

[init]
    defaultBranch = main

[user]
    name = Keith Wade
    email = keith@keithwade.com

[core]
    editor = vim
#   pager = git-split-diffs --color | less -RFX

[pull]
    rebase = false

[push]
    autoSetupRemote = true
